{% extends "base.html" %}

{% block content %}

<div class="flex justify-center items-center w-full h-full">
    <div class="block sm:w-[500px] mx-5 sm:mx-auto shadow-lg rounded bg-middle p-3 mt-5">
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mx-2">
                <div class="mb-3">
                    <div class="inline-block mr-2">
                        {{ form.email.label_tag }}
                    </div>
                    <div class="inline-block">
                        {{ form.email }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="inline-block mr-2">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="inline-block">
                        {{ form.username }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="inline-block mr-2">
                        {{ form.password1.label_tag }}
                    </div>
                    <div class="inline-block">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="inline-block mr-2">
                        {{ form.password2.label_tag }}
                    </div>
                    <div class="inline-block">
                        {{ form.password2 }}
                    </div>
                </div>
                <p class="px-2 mb-2">
                Пароль не должен быть слишком похож на другую вашу личную информацию.
                Ваш пароль должен содержать как минимум 8 символов.
                Пароль не должен быть слишком простым и распространенным.
                Пароль не может состоять только из цифр.
                </p>
                <input type="submit" value="Зарегистрироваться" class="border-2 border-secondary rounded cursor-pointer px-2 py-1"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        {% if form.errors %}
        <div class="mt-2 text-red-600">
            {% for field in form %}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
