{% load static %}

<div class="sm:flex sm:flex-row gap-4 mb-3 shadow-lg rounded bg-middle p-3">
    {% if dish.image %}
    <img src="{{ dish.thumbnail_url }}" class="w-[10rem] h-[10rem] mb-2 sm:mb-0 mx-auto">
    {% endif %}
    <div>
        <h1 class="text-2xl text-center sm:text-left">{{dish.title}}</h1>
        <p class="break-long-words pt-2">
        {{dish.discription}}
        {% lorem %}
        </p>
    </div>
    <div class="flex sm:self-center sm:grow justify-end items-center min-w-[13rem]">

        <div class="mx-2">цена: {{dish.price}}₽</div>
        <form method="POST" action="{% url 'cart_minus' %}" class="table">
            {% csrf_token %}
            <input type="hidden" name="dish_id" value="{{dish.id}}" />
            <button class="triangle-left table-cell align-middle"></button>
        </form>
        <span class="mx-2">{{dish.count}}</span>
        <form method="POST" action="{% url 'cart_plus' %}" class="table mr-4">
            {% csrf_token %}
            <input type="hidden" name="dish_id" value="{{dish.id}}" />
            <button class="triangle-right table-cell align-middle"></button>
        </form>

        <form method="POST" action="/">
            {% csrf_token %}
            <input type="image" src="{% static "images/shopping-cart-minus.svg" %}" class="w-[4rem] h-[4rem] undraggable">
        </form>
    </div>
</div>
