<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static "css/output.css" %}">
        <script defer type="text/javascript" src="{% static "js/main.js" %}"></script>
        {% block title %}<title>ТЕда</title>{% endblock %}
    </head>

    <body class="bg-secondary flex flex-col h-screen">

        {% include "inc/header.html" %}

        <main>

        {% block content %}{% endblock %}

        </main>

    </body>
</html>
