{% extends "base.html" %}

{% block content %}

<div class="sm:flex sm:flex-row sm:justify-center sm:flex-wrap px-4 sm:px-8 py-4 text-text">

    {% for category in categories %}
    <div class="block mb-3 shadow-lg rounded bg-middle p-3 sm:w-[20rem] sm:mx-2">
        <a class="w-full" href="{% url 'index_category' category.id %}">
            {% if category.image %}
            <img src="{{ category.image.url }}" class="w-[15rem] h-[15rem] rounded-full mx-auto">
            {% endif %}
            <hr class="h-px my-4 mx-2">
            <h1 class="text-2xl text-center text-text-middle">{{category.title}}</h1>
        </a>
    </div>
    {% endfor %}

</div>

{% endblock %}
